<mat-tree class="menu-tree" [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <span
            [class.tree-node-select]="selectedNode != null && assertNodeType(node).menuId === selectedNode.menuId"
            class="tree-node-name" (click)="selectNode(node)">{{assertNodeType(node).menuName}}</span>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node;when hasChild">
        <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + assertNodeType(node).menuName">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <span [class.tree-node-select]="selectedNode != null && assertNodeType(node).menuId === selectedNode.menuId"
                  class="tree-node-name" (click)="selectNode(node)">{{assertNodeType(node).menuName}}</span>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.menu-tree-invisible]="!treeControl.isExpanded(node)"
             role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>
