.menu-tree-invisible {
    display: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.mat-tree-node span {
    cursor: pointer;

    &:hover {
        color: var(--mat-sys-secondary);
    }
}

.tree-node-select {
    color: var(--mat-sys-primary);
}
