html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
chrome 浏览器自带伪类，影响删除。
 */
:focus-visible {
    outline: none;
}
