<ng-container *ngIf="data.model === Model.Read">
    <h2 mat-dialog-title class="art-primary">部门详情</h2>
    <div class="m-8">
        <art-descriptions [column]="4" [bordered]="true">
            <art-descriptions-item [span]="4" title="父级部门">{{parent?.deptName}}</art-descriptions-item>
            <art-descriptions-item [span]="4" title="部门编码">{{deptForm.get('deptCode')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="4" title="部门名称">{{deptForm.get('deptName')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="4" title="备注">{{deptForm.get('deptDescription')?.value}}</art-descriptions-item>
        </art-descriptions>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close="">取 消</button>
    </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="data.model === Model.Create || data.model === Model.Update">
    <h2 mat-dialog-title class="art-primary">部门表单</h2>
    <form class="menu-form" [formGroup]="deptForm">
        <p *ngIf="parent">
            <mat-form-field class="mat-form-field-fill" appearance="outline" subscriptSizing="dynamic">
                <mat-label>父级部门</mat-label>
                <input matInput [value]="parent.deptName">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="mat-form-field-fill" appearance="outline" subscriptSizing="dynamic">
                <mat-label>部门编码</mat-label>
                <input matInput formControlName="deptCode">
                <mat-error *ngIf="deptForm.get('deptCode')?.invalid">部门编码不能为空</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="mat-form-field-fill" appearance="outline" subscriptSizing="dynamic">
                <mat-label>部门名称</mat-label>
                <input matInput formControlName="deptName">
                <mat-error *ngIf="deptForm.get('deptName')?.invalid">部门名称不能为空</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="mat-form-field-fill" appearance="outline" subscriptSizing="dynamic">
                <mat-label>备注</mat-label>
                <input matInput formControlName="deptDescription">
            </mat-form-field>
        </p>
    </form>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close="">取 消</button>
        <button *ngIf="data.model === Model.Create" color="primary" mat-raised-button cdkFocusInitial (click)="createDept()">保 存</button>
        <button *ngIf="data.model === Model.Update" color="primary" mat-raised-button cdkFocusInitial (click)="updateDept()">修 改</button>
    </mat-dialog-actions>
</ng-container>
