@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');
    $background-palette: map.get($color-config, 'background');
    $is-dark-theme: map.get($color-config, 'is-dark');

    .icon-center:hover {
        //background: mat.get-color-from-palette($primary-palette, 'default');
        background: mat.get-color-from-palette($primary-palette, 'lighter');
        //color: mat.get-color-from-palette($primary-palette, 'default-contrast');
        color: mat.get-color-from-palette($primary-palette, 'lighter-contrast');
    }

    @debug $primary-palette;

    .icon-select {
        background: mat.get-color-from-palette($primary-palette, 'default');
        //background: mat.get-color-from-palette($primary-palette, 'lighter');
        color: mat.get-color-from-palette($primary-palette, 'default-contrast');
        //color: mat.get-color-from-palette($primary-palette, 'lighter-contrast');
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}

