[mat-dialog-title] {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}

.icon-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .icon-select {
        background-color: var(--mat-sys-primary-container);
    }
}

.icon-center {
    width: 240px;
    height: 96px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* 和列表一样的宽度和margin值 */
.icon-container > i {
    width: 240px;
    margin-right: 10px;
}
