<div mat-dialog-title>图标选择</div>
<mat-dialog-content style="overflow-x: hidden;">
    <div>
        <div>
            <mat-grid-list cols="6" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-label>已选择的图标：</mat-label>
                    <mat-icon *ngIf="iconName" class="m-l-16" [fontIcon]="iconName"></mat-icon>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="primary" (click)="deleteIcon()">删除选择的图标</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div>
            <mat-accordion>
                <ng-container *ngFor="let directory of (iconDirectory | properties);index as i;">
                    <mat-expansion-panel [expanded]="i === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{directory}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <div class="icon-container p-y-16">
                            <div *ngFor="let name of iconDirectory[directory]" [class.icon-select]="iconName === name"
                                 class="icon-center"
                                 (click)="selectIcon(name)">
                                <mat-icon style="width: 36px;height: 36px;font-size: 36px;" [fontIcon]="name"></mat-icon>
                                <p>{{name}}</p>
                            </div>
                            <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                        </div>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>关闭</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">确认</button>
</mat-dialog-actions>
