<h1 mat-dialog-title>图标选择</h1>
<mat-divider></mat-divider>
<mat-dialog-content style="overflow-x: hidden;">
    <div>
        <div>
            <form>
                <mat-form-field>
                    <mat-label>已选择的图标</mat-label>
                    <input matInput formControlName="iconName" [disabled]="true">
                    <mat-icon matSuffix fontIcon="add_circle"></mat-icon>
                </mat-form-field>
            </form>
        </div>
        <div>
            <mat-accordion>
                <ng-container *ngFor="let directory of (iconDirectory | properties);index as i;">
                    <mat-expansion-panel [expanded]="i === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{directory}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="icon-container">
                            <div class="icon-center m-b-16" *ngFor="let name of iconDirectory[directory]">
                                <mat-icon style="width: 36px;height: 36px;font-size: 36px;" [fontIcon]="name"></mat-icon>
                                <p>{{name}}</p>
                            </div>
                            <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                        </div>
                    </mat-expansion-panel>
                </ng-container>

            </mat-accordion>
            <!--<mat-card class="m-b-16" style="margin: auto;">-->
            <!--    <mat-card-header>-->
            <!--        <mat-card-title>{{directory}}</mat-card-title>-->
            <!--    </mat-card-header>-->
            <!--    <mat-divider class="m-t-16 m-b-16"></mat-divider>-->
            <!--    <mat-card-content>-->
            <!--        <div class="icon-container">-->
            <!--            <div class="icon-center m-b-16" *ngFor="let name of iconDirectory[directory]">-->
            <!--                <mat-icon style="width: 36px;height: 36px;font-size: 36px;" [fontIcon]="name"></mat-icon>-->
            <!--                <p>{{name}}</p>-->
            <!--            </div>-->
            <!--            <i></i><i></i><i></i><i></i><i></i><i></i><i></i>-->
            <!--        </div>-->
            <!--    </mat-card-content>-->
            <!--</mat-card>-->
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button>确认</button>
</mat-dialog-actions>
