mat-tree-node {
    .tree-node-name {
        cursor: pointer;
        &:hover {
            color: var(--mat-sys-secondary);
        }
    }
}

.tree-node-select {
    color: var(--mat-sys-primary);
}
