<button class="r-full" mat-button [matMenuTriggerFor]="menu">
    <img matButtonIcon class="avatar r-full" [ngSrc]="user?.avatar || 'assets/images/avatars/avatar.jpg'" width="24" height="24"
         alt="avatar"/>
    <span class="m-x-8">{{ user?.nickname }}</span>
</button>

<mat-menu #menu="matMenu">
    <button routerLink="/profile/overview" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ '个人主页' }}</span>
    </button>
    <!--<button routerLink="/profile/settings" mat-menu-item>-->
    <!--    <mat-icon>edit</mat-icon>-->
    <!--    <span>{{ 'edit_profile' }}</span>-->
    <!--</button>-->
    <!--<button mat-menu-item (click)="restore()">-->
    <!--    <mat-icon>restore</mat-icon>-->
    <!--    <span>{{ 'restore_defaults' }}</span>-->
    <!--</button>-->
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ '登出' }}</span>
    </button>
</mat-menu>
