<div class="art-header-container flex-row justify-between items-center">
    <nav>
        <button mat-button>服务管理系统</button>
    </nav>
    <span style="flex: 1 1 auto"></span>
    <nav class="flex-row h-full">
        <a *ngFor="let menu of menus" mat-ripple class="art-header-item flex-col justify-center items-center h-full p-x-16 p-y-8"
            (click)="goToSidenav(menu)">
            <div class="art-header-svg-container flex-row">
                <art-svg *ngIf="menu.icon" [svgName]="menu.icon"></art-svg>
            </div>
            <span>{{menu.name}}</span>
        </a>
    </nav>
</div>
