.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-between {
    justify-content: space-between;
}

.flex-column-center {
    align-items: center;
}
