.area-container {
    justify-content: space-between;
}
.area-sidenav {
    width: 360px;
    //border-right: 1px solid;
}
.area-body {
    width: calc(100% - 384px);
}

.mat-column-action {
    width: 360px;
}
