<ng-container *ngIf="data.model === Model.Read">
    <h2 mat-dialog-title class="art-primary">菜单详情</h2>
    <mat-divider></mat-divider>
    <div class="m-8">
        <art-descriptions [column]="4" [bordered]="true">
            <art-descriptions-item [span]="4" title="父级菜单">{{parent?.menuName}}</art-descriptions-item>
            <art-descriptions-item [span]="2" title="菜单编码">{{menuForm.get('menuCode')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="2" title="菜单名称">{{menuForm.get('menuName')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="2" title="菜单类型">{{menuForm.get('menuType')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="2" title="菜单图标">{{menuForm.get('menuIcon')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="4" title="菜单地址">{{menuForm.get('menuLink')?.value}}</art-descriptions-item>
            <art-descriptions-item [span]="4" title="菜单描述">{{menuForm.get('menuDescription')?.value}}</art-descriptions-item>
        </art-descriptions>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="">取 消</button>
    </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="data.model === Model.Create">
    <h2 mat-dialog-title class="art-primary">菜单表单</h2>
    <mat-divider></mat-divider>
    <div>
        <form class="menu-form" [formGroup]="menuForm">
            <p *ngIf="parent && parent.menuId">
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>父级菜单</mat-label>
                    <input matInput [value]="parent.menuName">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单编码</mat-label>
                    <input matInput formControlName="menuCode">
                    <mat-error *ngIf="menuForm.get('menuCode')?.hasError('required')">菜单编码不能为空</mat-error>
                    <mat-error *ngIf="menuForm.get('menuCode')?.hasError('minlength')">菜单编码不能低于4个字符</mat-error>
                    <mat-error *ngIf="menuForm.get('menuCode')?.hasError('numEngUnderline')">只能包含英文数字和字符串</mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单名称</mat-label>
                    <input matInput formControlName="menuName">
                    <mat-error *ngIf="menuForm.get('menuName')?.invalid">菜单名称不能为空</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单类型</mat-label>
                    <mat-select formControlName="menuType">
                        <mat-option>None</mat-option>
                        <mat-option [value]="0">菜单</mat-option>
                        <mat-option [value]="1">目录</mat-option>
                    </mat-select>
                    <mat-error *ngIf="menuForm.get('menuType')?.hasError('required')">菜单类型不能为空</mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单图标</mat-label>
                    <mat-icon *ngIf="menuForm.get('menuIcon')?.value" matPrefix [fontIcon]="menuForm.get('menuIcon')?.value"></mat-icon>
                    <input matInput formControlName="menuIcon">
                    <button matSuffix mat-icon-button (click)="clearIcon()">
                        <mat-icon fontIcon="clear" ></mat-icon>
                    </button>
                    <button matSuffix mat-icon-button (click)="openIconDialog($event)">
                        <mat-icon fontIcon="add_circle" ></mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <p *ngIf="menuForm.get('menuType')?.value === 0">
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单地址</mat-label>
                    <input matInput formControlName="menuLink">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="mat-form-field-fill" appearance="outline">
                    <mat-label>菜单描述</mat-label>
                    <textarea matInput formControlName="menuDescription" [rows]="4"></textarea>
                </mat-form-field>
            </p>
        </form>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="">取 消</button>
        <button mat-button cdkFocusInitial (click)="createMenu()">保 存</button>
    </mat-dialog-actions>
</ng-container>


