<div class="page-head-container">
  <form [formGroup]="serverForm">
    <mat-grid-list cols="4" rowHeight="72px">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>服务器IP</mat-label>
          <input matInput placeholder="请输入服务器IP" formControlName="serverIp" required>
          <mat-error *ngIf="serverForm.get('serverIp')?.invalid">服务器IP不能为空</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>服务器IP</mat-label>
          <input matInput placeholder="请输入服务器IP" formControlName="serverIp" required>
          <mat-error *ngIf="serverForm.get('serverIp')?.invalid">服务器IP不能为空</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>服务器IP</mat-label>
          <input matInput placeholder="请输入服务器IP" formControlName="serverIp" required>
          <mat-error *ngIf="serverForm.get('serverIp')?.invalid">服务器IP不能为空</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>服务器IP</mat-label>
          <input matInput placeholder="请输入服务器IP" formControlName="serverIp" required>
          <mat-error *ngIf="serverForm.get('serverIp')?.invalid">服务器IP不能为空</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

<div class="page-body-container m-t-32">
<!--  <table mat-table>-->
<!--    <ng-container matColumnDef="areaName">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="spaceName">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="spaceDescription">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="spaceDescription">-->
<!--      <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->
<!--  </table>-->
</div>
