<div class="w-full h-full flex-row flex-space-between">
    <div class="h-full area-sidenav">
        <div class="w-full h-full">
            <app-menu-tree (changeSelectedNode)="changeSelectedNode($event)"></app-menu-tree>
        </div>
    </div>
    <!--<div *ngIf="selectedNode" class="h-full area-body">-->
    <!--    <div class="w-full h-full p-8">-->
    <!--        <div>-->
    <!--            <button mat-raised-button color="primary" (click)="openDialog()">新增</button>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <table mat-table [dataSource]="dataSource">-->
    <!--                <ng-container matColumnDef="areaCode">-->
    <!--                    <th mat-header-cell *matHeaderCellDef> 编码</th>-->
    <!--                    <td mat-cell *matCellDef="let element"> {{ assertAreaType(element).areaCode}} </td>-->
    <!--                </ng-container>-->
    <!--                <ng-container matColumnDef="areaName">-->
    <!--                    <th mat-header-cell *matHeaderCellDef> 名称</th>-->
    <!--                    <td mat-cell *matCellDef="let element"> {{ assertAreaType(element).areaName}} </td>-->
    <!--                </ng-container>-->
    <!--                <ng-container matColumnDef="areaDescription">-->
    <!--                    <th mat-header-cell *matHeaderCellDef> 名称</th>-->
    <!--                    <td mat-cell *matCellDef="let element"> {{ assertAreaType(element).areaDescription}} </td>-->
    <!--                </ng-container>-->
    <!--                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--            </table>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

</div>
