<mat-toolbar color="primary">
    <ul class="flex-row">
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="accent"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
    </ul>
    <span style="flex: 1 1 auto"></span>
    <ul class="flex-row">
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container flex-row">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item flex-column">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="set" inline="true" color="primary"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
    </ul>
</mat-toolbar>
