<div class="art-layout-container w-full h-full">
    <app-art-header *ngIf="option.showHeader && option.headerPosition === 'above'"></app-art-header>
    <mat-sidenav-container class="art-container" autosize="true">
        <mat-sidenav mode="side" style="width: fit-content" [opened]="option.showSidenav">
            <app-art-sidenav></app-art-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="p-l-16">
            <app-art-header *ngIf="option.showHeader && (option.headerPosition === 'fixed' || option.headerPosition === 'static')"></app-art-header>
            <app-reuse-tabs></app-reuse-tabs>
            <div class="router-outlet-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
 </div>
