.art-container {
    height: calc(100vh - 64px);;
}

mat-sidenav {
    width: 240px;
    height: 100%;
}

mat-sidenav-content {
    overflow-x: hidden;
}

.router-outlet-container {
    //display: flex;
    //justify-content: center;
}
