// ==================================================
// WIDTH & HEIGHT
// ==================================================
@use "sass:map";
@use "variables";
@use "spacing";

$size: (
    'width': (
        property: width,
        class: w,
        values: variables.$size
    ),
    'height': (
        property: height,
        class: h,
        values: variables.$size
    )
);

$schemas: map.merge($size, spacing.$schemas)
