@use "functions";
@use "sass:map";

// All Map
$schemas: () !default;

// Spacing
$spacer: 16px !default;
$spacers: () !default;
$spacers: map.merge(
    (
        0: 0,
        4: $spacer * .25,
        8: $spacer * .5,
        16: $spacer,
        24: $spacer * 1.5,
        32: $spacer * 2,
        48: $spacer * 3
    ),
    $spacers
);
$reverse-spacers: functions.reverse-map($spacers) !default;

// Size
$size: (
  20: 20%,
  25: 25%,
  40: 40%,
  50: 50%,
  60: 60%,
  75: 75%,
  80: 80%,
  full: 100%,
  auto: auto
);

